
html{
    height: 100%;
}
body{
     background-image: url("http://i.imgur.com/z3gMalF.jpg");
     min-height: 100%;
    
}
button{
    background-color: #cdd0d7;
    
}

#calc{
    background-color: #9498a1;
    border-radius: 35px;
}


  





