html{
    height: 100%;
}
body{
     background-color: burlywood;
     min-height: 100%;
}
button{
    background-color: #cdd0d7;
    margin: 0.3%;
    min-width: 35px; 
    width:15%;
  
}
#wapper{
    min-width: 640px 
    min-height: 360px;
    font-size: 200%;
    width: 50%;
    height: 50%;
  position: relative;
     
 
}
#calc{
    position: absolute;
    top: 0;
  bottom: 0;
  right: 0;
  left: 0;
    border-radius: 25px ;
    min-width: 640px ;
    min-height: 360px;
    background-color: #9498a1;
    
     
}





